<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControladorAgente</servlet-name>
        <servlet-class>ort.discom.obl.controlador.ControladorAgente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>ort.discom.obl.controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEncuesta</servlet-name>
        <servlet-class>ort.discom.obl.controlador.ControladorEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorABMUsuarios</servlet-name>
        <servlet-class>ort.discom.obl.controlador.ControladorABMUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogout</servlet-name>
        <servlet-class>ort.discom.obl.controlador.ControladorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setup</servlet-name>
        <servlet-class>ort.discom.obl.setup.Setup</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAgente</servlet-name>
        <url-pattern>/ControladorAgente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEncuesta</servlet-name>
        <url-pattern>/ControladorEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorABMUsuarios</servlet-name>
        <url-pattern>/ControladorABMUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogout</servlet-name>
        <url-pattern>/ControladorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setup</servlet-name>       
        <url-pattern>/Setup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/errorDeAutorizacion.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>administradores</web-resource-name>
            <description/>
            <url-pattern>/administradores/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>controladorAgente</web-resource-name>
            <description/>
            <url-pattern>/ControladorAgente</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>controladorCliente</web-resource-name>
            <description/>
            <url-pattern>/ControladorCliente</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMINISTRADOR</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>Agente_Constraint2</display-name>
        <web-resource-collection>
            <web-resource-name>agentes</web-resource-name>
            <description/>
            <url-pattern>/agentes/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>controladorEncuesta</web-resource-name>
            <description/>
            <url-pattern>/ControladorEncuesta</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AGENTE</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>dbobl</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
            </form-login-config>
        </login-config>
    <security-role>
        <description/>
        <role-name>ADMINISTRADOR</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>AGENTE</role-name>
    </security-role>
    </web-app>
